
/*Disimpan di mobile.css*/

@media (max-width: 1024px) {
	.container {
		padding: 0 5%;
		width: 90% !important;
	}
	.abso-bg img {
		left: auto !important;
		right: 0;
		width: 240px !important;
	}
	#projects #thumbs li {
		width: 30%;
	}
	.absolute-text {
		display: none;
	}
	.step-result {
		right: 120px !important;
	}
}
@media (max-width: 1000px) {
	.abso-bg {
		width: 35% !important;
	}
}
@media (max-width: 320px) {
	#thumbs li {
		float: left;
		height: 55px !important;
		width: 29% !important;
	}
	#twttr-sandbox-0 > div,
	#twttr-sandbox-0 iframe {
		width: 100% !important;
	}
}
@media (max-width: 480px) {
	.logo_header > img {
		width: 100%;
	}
}
@media (max-width: 600px) {
	#slider,
	.step-result,
	.white-abso {
		display: none;
	}
	.logo_header > img {
		width: 50%;
	}
	.main-menu {
		height: auto;
	}
	.abso-bg .owner-bg {
		display: none !important;
	}
	.abso-bg {
		margin: 0 !important;
	}
	.abso-bg a {
		left: 0;
	}
	.analyze-blue {
		float: left !important;
	}
	.analyze-strip {
		padding: 0 5%;
		width: 90%;
	}
	#thumbs {
		background: none;
	}
	.span6.offset .row-fluid div > iframe,
	.span6.offset .row-fluid > div {
		width: 100% !important;
	}
	.span3.abso-bg {
		width: 100% !important;
	}
	.cta a {
		margin: 10px;
	}
	.head-top ul {
		border: none;
	}
}