html,
body {
	height: 100%;
    min-height: 100%;
    position: relative;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.clear{
    clear:both
}
.main-section {
	overflow: hidden;
	position: relative;
    width: 100%;
}
/*#slider {
	height: 630px;
	width: 100%;
}
.flexslider .slides {
    height: 630px;
}
.flex-direction-nav {
	display: block !important;
}*/
/*header {
    position: absolute;
    width: 100%;
    z-index: 10;
}*/
/*.main-menu {
	background: none repeat scroll 0 0 #FFFFFF;
    height: 120px;
    top: 50px;
    width: 100%;
}
.main-menu .logo {
	background: none repeat scroll 0 0 #00D2FF;
    color: #FFFFFF;
    float: left;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 230px;
}
.main-menu ul {
	float: right;
	margin: 0 0 0 25px;
}
.main-menu ul li {
	float: left;
    list-style: none outside none;
}
.main-menu ul li a {
	color: #393939;
    font-family: 'Dosis',sans-serif;
    font-size: 16px;
    height: 120px;
    letter-spacing: 0.5px;
    line-height: 120px;
    margin: 0 20px;
    text-transform: capitalize;
}
.main-menu a:hover,
.main-menu ul li a:focus {
	text-decoration: none;
}*/
.container {
	margin: 0 auto;
    position: relative;
    width: 1124px;
}
/*.nav-bg {
	background: url("../img/nav-bg.png") no-repeat scroll 0 0 transparent;
    height: 64px;
    margin-left: -15px;
    position: fixed;
    width: 830px;
    z-index: 9;
}
.arrow-logo {
	background: url("../img/arrow-logo.png") no-repeat scroll 0 0 transparent;
    height: 14px;
    position: absolute;
    right: -1px;
    top: 17px;
    width: 12px;
}
.flex-control-nav.flex-control-paging {
	display: none;
}*/
.about-feature {
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 15px 0 50px;
}
.about-feature h2 {
    color: #272727;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 30px;
    text-align: center;
}
.about-feature h3 {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-top: 40px;
}
.about-feature p {
	color: #272727;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    text-align: center;
}
#feature h3 {
	margin-top: 0;
}
#feature td {
	padding: 10px 0;
}
#feature .info-text {
	color: #F0F0F0;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}
#booking-calendar {
    margin-bottom: 30px;
    padding-top: 15px;
}
#booking-calendar h2 {
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
.map {
    height: 390px;
    position: relative;
    width: 100%;
}
footer {
    background: none repeat scroll 0 0 #000000;
    height: 120px;
    width: 100%;
}
footer .span4 {
    border-right: 1px solid #2E2E2E;
    height: 120px;
    margin: 0 !important;
    padding: 30px 0;
}
.no-border-right {
    border-right: none !important;
}
footer ul {
    margin: 0;
}
footer li {
    float: left;
    list-style: none outside none;
    width: 50%;
}
footer li a,
footer p,
footer .span4.no-border-right a,
footer .span4.no-border-right p {
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}
footer li a:hover {
    text-decoration: none;
}
.center {
    text-align: center;
}
footer .center.span4 ul {
    display: inline-block;
    margin: 0 auto;
}
footer .center.span4 ul li {
    display: inline-block;
    margin: 0 5px;
    width: auto;
}
footer .center.span4 ul li a {
    background: url("../img/sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 33px;
    width: 35px;
}
footer .facebook {
    background-position: -5px -5px !important;
}
footer .twitter {
    background-position: -46px -5px !important;
}
footer .googleplus {
    background-position: -87px -5px !important;
}
footer .email {
    background-position: -128px -5px !important;
}
footer .span4.no-border-right {
    padding-left: 5%;
}
footer .span4.no-border-right a {
    display: block;
}
footer .span4.no-border-right p {
    margin-top: 10px;
}
#booking-calendar ul {
    margin: 0;
}
#booking-calendar ul li {
    float: left;
    list-style: none outside none;
    width: 50%;
}
#booking-calendar ul li span {
    background: url("../img/sprite.png") no-repeat scroll -170px -9px transparent;
    display: inline-block;
    float: left;
    height: 5px;
    margin-right: 10px;
    position: relative;
    top: 8px;
    width: 5px;
}
#booking-calendar ul li p {
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}
.map-location {
    background: url("../img/map-location.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 100;
    height: 47px;
    line-height: 47px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    top: 23px;
    width: 250px;
    z-index: 10;
}
#booking-calendar table {
    border: 1px solid #2FC2FF;
    margin-bottom: 30px;
    width: 100%;
}
#booking-calendar thead {
    background: none repeat scroll 0 0 #00D2FF;
    height: 50px;
    width: 100%;
}
#booking-calendar thead th {
    color: #F0F0F0;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    height: 50px;
    text-align: center;
}
#booking-calendar tbody td {
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
}
table .short {
    width: 10%;
}
table .long {
    width: 20%;
}
#booking-calendar tbody {
    width: 100%;
}
thead .availability {
    background: none repeat scroll 0 0 #10B4D7;
    text-transform: uppercase;
}
tbody .availability {
    background: none repeat scroll 0 0 #e7e7e7;
    text-transform: uppercase;
}
tbody .available {
    background: none repeat scroll 0 0 #79BB38;
    color: #FFFFFF !important;
    text-transform: uppercase;
}
.map .map-tooltip {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px;
    position: absolute;
    right: 15%;
    top: 35%;
    width: 300px;
    z-index: 10;
}
.map .map-tooltip h3 {
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    line-height: normal;
    margin-top: 0;
}
.map .map-tooltip p {
    color: #000000;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 0;
}
/*.head-top ul {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    margin: 0;
}
.head-top ul li {
    float: left;
    line-height: 50px;
    list-style: none outside none;
    margin: 0 15px;
}
.head-top ul li a {
    color: #322C29;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}*/
/*.absolute-text {
    left: 155px;
    position: absolute;
    top: 300px;
    z-index: 10;
}
.absolute-text h2 {
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 65px;
    font-weight: normal;
    margin: 0 0 20px;
}
.absolute-text h3 {
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 20px;
}
.absolute-text ul {
    margin: 0 auto;
    text-align: center;
}
.absolute-text li {
    display: inline-block;
}
.absolute-text .contact-us {
    background: url("../img/contact-us.png") repeat-x scroll 0 0 transparent;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
}
.absolute-text .search-site {
    background: url("../img/search-site.png") repeat-x scroll 0 0 transparent;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
}
.absolute-text a:hover {
    text-decoration: none;
}
.absolute-text a {
    margin: 50px 10px;
}*/
.about-feature strong {
    font-weight: 500 !important;
}
/*.white-abso {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 70px;
    position: absolute;
    top: -70px;
    width: 100%;
}
.step-result {
    background: url("../img/imac.png") repeat scroll 0 0 / cover transparent;
    height: 430px;
    position: absolute;
    right: 30px;
    top: -400px;
    width: 500px;
}
#video {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    height: 260px;
    left: 22px;
    position: relative;
    top: 23px;
    width: 461px;
}
#video img {
    display: block;
    height: 100%;
    width: 100%;
}*/