
.control-image > img {
    width: 282px;
}
.control-group {
    float: left;
    /*margin-bottom: 9px;*/
    margin-right: 10px;
    width: 100%;
}

.control-textarea {
    float: left;
    width: 100%;
}
.control-textarea textarea {
    height: 250px;
    width: 100% !important;
}

.control-seo {
    float: left;
    width: 50%;
}
.control-seo input {
    /*height: 190px;*/
    width: 90% !important;
}
.controls input, .controls textarea{
  width: 100%;
}

.btn-dashboard-big, .btn-dashboard-big-text{
    height: 67px;
    width: 85%;
    margin:10px;
}

.btn-dashboard-big > label {
    font-size: 45px;
    margin-top: 10px;
}

.btn-dashboard-big-text > label{
   /* height: 67px;
    width: 85%;
    margin:10px;*/
    font-size: 35px;
    margin-top: 10px;
}